<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>512745465972-8ke138qvne19f8c6u0tqjsdh0niodaa9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512745465972-8ke138qvne19f8c6u0tqjsdh0niodaa9</string>
	<key>API_KEY</key>
	<string>AIzaSyBkPCZVSmeKEcbcu8901H8FKuvleTbiFB8</string>
	<key>GCM_SENDER_ID</key>
	<string>512745465972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.kylegraham.trackerio</string>
	<key>PROJECT_ID</key>
	<string>trackerio-a4bf6</string>
	<key>STORAGE_BUCKET</key>
	<string>trackerio-a4bf6.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512745465972:ios:45a5cdcca7db554c458921</string>
</dict>
</plist>